h1{
  font-size:50px;
  text-align: center;
  color:blue;
  }

button{
  font-size: 30px;
  text-align: center;
  }

div {
  font-size: 30px;
  text-align: center;
  }

p{
 font-size:30px;
 text-align: center;
 }
